@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";


$custom-theme-colors: (
  "mainbg": #2b2b2b,
  "purple": #A259FF,
  "cardbg": #3B3B3B,
  "lite": #858584,
  "gray": #CCCCCC,
  "green": #00AC4F,
  "footer": #CCCCCC,
  "input": #FFFFFF
);
$theme-colors: map-merge($theme-colors, $custom-theme-colors);

$font-sizes: (
  1: 2.5rem,
  // Default: 2.5rem
  2: 2rem,
  // Default: 2rem
  3: 1.75rem,
  // Default: 1.75rem
  4: 1.5rem,
  5: 1.25rem,
  6: 1rem
);
$custom-font-sizes: (
  7: 0.85rem,
  8: 4.3rem,
  9: 3rem,
  10: 0.75rem
);

$font-sizes: map-merge($font-sizes, $custom-font-sizes);

// $font-family-base: 'Times New Roman', Times, serif;


// Bootstrap ko import karo
@import "../node_modules/bootstrap/scss/bootstrap";

//style="font-family: Space Mono, monospace;"